/* Surcharge classes bootstrap */
div.container {
    margin-top: 20px;
}

.alert-light {
    background-color: #eeeeee;
    border-radius: 5px;
}


/* Bandeau de page item ad */
div.ad-headband {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}
div.ad-headband h1, div.ad-headband p, div.carousel-caption {
    color: #FFF;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

/* Ajouter une annonce : Bloc d'ajout d'images */
fieldset.form-group {
    background: #e3e3e3;
    padding: 15px;
    border: 1px solid grey;
}

/* Affichage annonce : Avatar de l'auteur */
.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}
.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

/* Réserver une annonce : date bloquée */
td.disabled.disabled-date.day {
    color: #ae0f0f;
    text-decoration: line-through;
}