<!DOCTYPE html>
<!-- gabarit global à tout le site -->
<html>

    <head>
        <meta charset="UTF-8">

        <title>SymBNB - {% block title %}Bienvenue (title de base!){% endblock %}</title>

            {# css pour toutes les pages #}
            {# <link rel="stylesheet" href="/css/bootstrap.min.css"> #}
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"> 
        {% block stylesheets %}{% endblock %}

    </head>

    <body>

        {# Header #}
        {% include 'admin/partials/admin_header.html.twig' %}

        {# Alertes tpl en provenance de la structure front #}
        {% include 'partials/alert.html.twig' %} 

        {% block body %}{% endblock %}
        
        {# Footer #}
        {% include 'admin/partials/admin_footer.html.twig' %}

            <script src="{{ asset('build/js/app.js') }}"></script>
            {# <script src="/js/jquery.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script> #}
        {% block javascripts %}{% endblock %}

    </body>

</html>
