{% extends 'base.html.twig' %}

{% block title %}
    Accès interdit
{% endblock %}

{% block body %}

    <div class="container text-center">
        <h1 class="my-5">Attention !</h1>
        <em>erreur 403</em>
        <p class="alert alert-danger">Vous n'avez pas les droits pour accéder à cette ressource.</p>
        <a href="{{ path('homepage')}}" class="btn btn-primary">Retour page d'accueil</a>
    </div>

{% endblock %}